---
import '../styles/global.css'
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro'
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle="About me";
const edi={
    firstName:"Edi",
    lastName:"Ibraimi",
    occupation:"Front End",
    hobbies:["coding","football","movies"]
}
const skills=["HTML","CSS","HUBL","JS"]
const happy=true;
const finished=false;
const goal=3;
const skillColor="navy";
const fontWeight=700;

---

<BaseLayout pageTitle={pageTitle}>
    <div class="container">
      

        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam sint velit dicta. Exercitationem quidem quod quas, numquam blanditiis dolore. Rem dolor magni amet assumenda quis incidunt delectus voluptates sunt tempore!

        </p>
        Who Am I ?
        <p>{edi.firstName}</p>
        <p>My skills:</p>
        {skills.map((skill)=>(
            <li class="skill">{skill}</li>
        ))}
        {happy && <p>Happy to learn Astro</p>}
        {goal===3 ? <p>I will finish thi sfaster then 3  days</p> : <p>I will need more then three days</p>}
        </div>
    </BaseLayout>